/*body {
    background-color: #377898;
    margin: 0;
    padding: 0;
    align-items: center;
}

.square2 {
    background-color: #4393AC;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 550px;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    position: absolute;
    top: 72.5%;
    left: -6.4%;
}

a {
    position: absolute;
    margin-top: -100px;
    left: -4.5%;
    font-size: 20px;
    color: #F95F2D;
}*/

.preloader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all .4s ease;
}

.fade-out-animation{
    opacity: 0;
    visibility: hidden;
}

h1 {
    font-size: 25px;
}

.btn-voltar {
    position: absolute; 
    top: 30px; 
    left: 0;
    color: white;
    text-decoration: none;
}

.btn-voltar:hover {
    color: white;
}

.numbers {
    color: #F95F2D;;
    font-size: 28px;
}

.types {
    font-size: 23px;
    line-height: 23px;
}

#chartContainer {
    width: 80% !important;
    height: 300px !important;
}

@media (max-width: 767.98px) {

    h1 {
        font-size: 20px;
    }
    .numbers {
        font-size: 17px;
    }

    .types {
        font-size: 10px;
        line-height: 12px;
    }

    #chartContainer {
        width: 100% !important;
        height: 250px !important;
    }

    .btn-voltar {
        left: 15px !important;
    }

}
